.mainPage {
  &_title {
    text-align: center;
    padding: 1rem;
  }
  &_subTitle {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;
  }
  &_desc {
    text-align: center;
  }
  &_boxList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
