.CounterPage {
  width: 100%;
  &_reduxContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &_codeContainer {
    &_title {
      text-align: center;
    }
    &_card {
      margin-top: 3rem;
    }
  }
  &_state {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_buttonWrap {
    display: flex;
  }
}
