@import 'styles/util.scss';

.Todo {
  width: 100%;
  &_reduxContainer {
    @include centerSort();
    height: 100vh;
  }
  &_codeContainer {
    &_title {
      text-align: center;
    }
    &_card {
      margin-top: 3rem;
    }
  }
}
