@import 'styles/colors.scss';
@import 'styles/util.scss';

.Box {
  width: 800px;
  height: 400px;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  &:hover {
    transform: translateY(-10px);
  }
  &_line {
    border: 1px solid $MAIN_COLOR;
  }
  &_title {
    text-align: center;
    padding: 1rem;
  }
  &_summary {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  &_iconDiv {
    width: 100%;
    margin-top: 10rem;
    text-align: center;
    &_icon {
      border-radius: 70%;
      margin: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 100px;
      height: 100px;
      background-size: auto;
    }
  }
}
