h1 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-weight: bolder;
  font-size: 18px;
}
h6 {
  font-size: 14px;
  font-weight: lighter;
}
.warning {
  color: red;
  font-weight: bold;
}

@mixin centerSort() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bounce_animation {
  position: absolute;
  bottom: 20px;
  animation: bounce infinite 1s;
}
@keyframes bounce {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 15px;
  }
  100% {
    margin-bottom: 0;
  }
}
