@import 'styles/colors.scss';

.PostItem {
  width: 400px;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: auto;
  user-select: none;
  &_body {
    font-weight: lighter;
  }
  &_userId {
    color: $MAIN_COLOR;
    &::before {
      content: '작성자ID : ';
    }
  }
}
