@import 'styles/util.scss';

.JsonPlaceholder {
  width: 100%;
  &_reduxContainer {
    @include centerSort();
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &_codeContainer {
    &_title {
      text-align: center;
    }
    &_card {
      margin-top: 3rem;
    }
  }
}
